.crypto-list {
    margin:  20px;
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.list li {
    border: .5px solid #ccc;
    line-height: 2;
    margin-top: 1px;
    padding: 5px 50px;
}

.list li span {
    font-weight: bold;
    padding: 0 5px;
}

.list li .rate {
    font-weight: normal;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}